.form_dog {
    display: flex;
    width: 100%;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #5F6F4E;
    border: 3px solid #724040;
    border-radius: 70px;
    padding: 20px;
    gap: 20px;
    flex-direction: row;

    .image_dog {
        input {
            display: none;
        }
    }

    .form_fields {
        label {
            font-weight: bold;
            font-family: "Spectral SC";
            -webkit-text-fill-color: black;
            -webkit-text-stroke-width: 0.5px;
            -webkit-text-stroke-color: rgb(255, 255, 255);
            margin-right: 30px;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-rendering: geometricPrecision;
        }

        input {
            width: 60%;
            border: 10px solid #DEEED5;
            border-radius: 70px;
            padding: 10px 15px;
            margin-bottom: 10px;
            font-size: 16px;
        }

        select {
            width: 60%;
            border: 10px solid #DEEED5;
            border-radius: 70px;
            padding: 10px 15px;
            margin-bottom: 10px;
            font-size: 16px;
        }
    }
}

.modal_add_dog {
    display: flex;
    justify-content: center;
    // height: 100vh;
    height: 100%;
    width: 100%;
    margin-left: 100px;
}

.submit_button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 70px;
    padding: 10px 15px;
    font-size: 26px;
    cursor: pointer;
}

.submit_button:hover {
    background-color: #45a049;
}

input[type="submit"] {
    height: 100px;
    width: 200px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 70px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.name_dog,
.breed_dog,
.coat_dog,
.dob_dog,
.gender_dog,
.height_dog,
.weight_dog,
.number_dog {
    color: #000;
    text-align: center;
    font-family: "Spectral SC";
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 5px;
    font-weight: bold;
}

.container_dogs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container_dog_list {
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-between;
}

.add_photo_icon_dog {
    max-width: 200px;
    max-height: 200px;
}

.photo_dog {
    height: 1028px;
    width: 1348px;
    border-radius: 70px;
    background-color: #CBDCBB;
}