.form_dog {
    display: flex;
    height: 700px;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: #5F6F4E;
    border: 3px solid #724040;
    border-radius: 40px;
    gap: 40px;
    flex-direction: row;
    

    .image_dog {
        input {
            display: none;
        }
    }

    .form_fields {
        margin: 20px 40px 20px 40px;

        label {
            font-weight: bold;
            font-family: "Spectral SC";
            -webkit-text-fill-color: black;
            -webkit-text-stroke-width: 0.5px;
            -webkit-text-stroke-color: rgb(255, 255, 255);
            margin-right: 30px;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-rendering: geometricPrecision;
        }

        input {
            width: 250px;
            border: 10px solid #DEEED5;
            border-radius: 70px;
            padding: 10px 15px;
            font-size: 16px;
        }

        .basicInput{
            margin-top: 10px;
            width: 400px;
        }

        select {
            width: 250px;
            border: 10px solid #DEEED5;
            border-radius: 70px;
            padding: 10px 15px;
            font-size: 16px;
        }
        .wrapper{
            width: 450px;
            margin-top: 10px;
            background-color:#DEEED5;
            border-radius: 40px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.modal_add_dog {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
}

.submit_button {
    width: 200px;
    color: #fff;
    background-color: #DEEED5;
    border: none;
    margin-top: 10px;
    border-radius: 40px;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
}

.submit_button:hover {
    background-color: #45a049;
}


.name_dog,
.breed_dog,
.coat_dog,
.dob_dog,
.gender_dog,
.height_dog,
.weight_dog,
.number_dog {
    color: #000;
    text-align: center;
    font-family: "Spectral SC";
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 5px;
    font-weight: bold;
}

.container_dogs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container_dog_list {
    display: flex;
    justify-content: space-between;
}

.add_photo_icon_dog {
    width: 200px;
    height: 200px;
}

.photo_dog {
    height: 500px;
    width: 500px;
    margin: 20px 40px 20px 40px;
    border-radius: 70px;
    background-color: #CBDCBB;
}