.my_account_container {
  width: auto;
  padding: 0;
}

.account_header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30%;
}

.button_account {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 50px;
  background: #84ae7d;
  justify-self: flex-start;
}

.button_account_text {
  color: #000;
  text-align: center;
  font-family: Spectral SC;
  font-size: 20px;
  font-weight: 500;
}

.go_back_img {
  margin-right: 20px;
  width: 30px;
}

.my_account_header {
  color: #000;
  text-align: center;
  font-family: Spectral SC;
  font-size: 40px;
  font-weight: 400;
  justify-self: center;
  align-self: center;
}

.account_info {
  text-align: left;
  margin: 10px 0px 10px 0px;
}

.button_edit_account {
  margin-top: 40px;
  margin-left: auto;
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 70px;
  background: #84ae7d;
}

.button_edit_text {
  color: #000;
  text-align: center;
  font-family: Spectral SC;
  font-size: 24px;
  font-weight: 300;
  margin: auto;
}

.edit_img {
  transform: rotate(8.493deg);
  width: 40px;
}

.edit_button_text {
  color: #000;
  text-align: center;
  font-family: Spectral SC;
  font-size: 20px;
  font-weight: 300;
}

.edit_account_button {
  color: #829d71;
}

.account_details {
  display: flex;
  align-items: center;
  gap: 20%;
  color: #000;
  text-align: center;
  font-family: Source Serif Pro;
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
}


.button_relatives {
  width: 30%;
  height: 50px;
  background-color: #b1d1ac;
  outline: none;
  border: none;
  border-radius: 70px;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  color: #000;
  text-align: center;
  font-family: "Source Serif Pro";
  font-size: 18px;
  font-weight: 400;
}


.account_buttons {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.my_account_container {
  position: relative;
}

.my_account_container_buttons {
  position: relative;
}

.background_rectangle {
  border-radius: 30px;
  width: 95%;
  height: 100%;
  background-color: #eaf7dd;
  z-index: -1;
  margin: 0 auto;
}

.background_rectangle_buttons {
  border-radius: 30px;
  width: 95%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaf7dd;
  z-index: -1;
  margin: 30px auto;
}
.account_photo {
  height: 350px;
  margin-left: 20px;
}

.my_dogs_container{
  border-radius: 30px;
  width: 95%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaf7dd;
  margin: 30px auto;
  gap: 40px;
  
}

.dog_card{
  width: 270px;
  height: 250px;
  background-color: #829d71;
  border-radius: 30px;
}
