.puppies-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 150px;

}

.work-section-info-puppies{
    background-color: #A5C585;
    border-radius: 30px;
    width: 270px;
    height: 420px;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-family: 'Source Serif Pro';
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
    border-radius: 1rem;
    color: #505050;
    margin: 1rem 2rem;
    border: solid;
}

