.header {
    // height: 200px;
    width: 100%;
    background-color: #B9D1A1;
}

.nav_ul {
    list-style: none;
    padding: 0;
    display: flex;
    text-align: center;
    align-items: center;
    font-family: Zen Old Mincho;
    font-size: 48px;
    font-weight: 400;
    justify-content: space-around;
}

.nav_ul li {
    margin-right: 10%;
}

ul.nav_ul {
    padding-left: 0;
    margin: 0;
}

.nav_ul li:last-child {
    margin-right: 0;
}

.logo {
    margin-top: 15px;
}