.Tree {
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #C1CEB4;
}

.TreeObject {
    width: 200px;
    height: 200px;
    background-color: #BBD7A2;
    border: 3px;
    border-color: #483636;
    border-radius: 50px;
    align-self: center;
}

.ObjectPair{
    display: flex;
    justify-content: space-around;

    
}