.Tree {
    background-color: #C1CEB4;
    padding: 10px;
    height: 600px;
    white-space: nowrap;
    border-radius: 30px;
  width: 95%;
  margin: 30px auto;


  }
  
  .TreeElement{
    width: 50%;
    height: min-content;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .Parents{
    display: flex;
    
  }
  .Ancestors {
    display: flex;
  }